In [ ]:
print('hello')

In [ ]:
print('new')

here we can write texts

In [ ]:
print('new')

In [ ]:
p=4e2

In [ ]:
p

In [ ]:
8**(1/3)

In [ ]:
500e1

In [ ]:
name = "dilip"

In [ ]:
print(f'Hello his name is {name}')

In [ ]:
s='123'

In [ ]:
type(s)

In [ ]:
list4 = [5,3,4,6,1]
list4.sort()

In [ ]:
list4

In [ ]:
2==2

In [ ]:
2==1

In [ ]:
'hello'== 'bye'

In [ ]:
'Bye' =='bye'

In [ ]:
'2' == 2

In [ ]:
2.0 == 2

In [ ]:
3!=3

In [ ]:
4!=5

In [ ]:
2>1

In [ ]:
1>2

In [ ]:
1<2

In [ ]:
2<5

In [ ]:
2>=2

In [ ]:
4<=1

In [ ]:
1< 2

In [ ]:
2<3

In [ ]:
1<2<3

In [ ]:
1<2>3

In [ ]:
1<2 and 2>3

In [ ]:
1<2 and 2<3

In [ ]:
('h'== 'h') and (2==2)

In [ ]:
1 == 1 or 2==2

In [ ]:
100 ==1 or 2==200

In [ ]:
not(1==1)

In [ ]:
not 400 > 5000

In [ ]:
Hungry = True

if Hungry==True:
    print("Feed me!")
    
else: 
    print('I am not hungry')

In [ ]:
loc = 'pack'

if loc == 'Auto Shop':
    print('Cars are cool!')
elif loc == "Bank":
    print('Money is cool!')
elif loc == "Store":
        print("Welcome to the store")
else:
    print('I do not know much')

In [ ]:
name = 'Sammy'

if name == 'Frankie':
    print('Hello Frankie')
elif name== 'Sammy':
    print('Hello Sammy')
else:
    print("May i know your name?")

In [ ]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
for num in mylist:
    print(num)

In [ ]:
for num in mylist:
    #check for even
    if(num%2==0):
         print(num)
    else:
        print(f'Odd Number: {num}')

In [ ]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
print(list_sum)

In [ ]:
for letter in 'Hello World':
    print(letter)

In [ ]:
tuple = (1,2,3)

for item in tuple:
    print(item)

In [ ]:
mylist = [(1,2,3,4),(5,6,7,8)]
len(mylist)

In [ ]:
for a,b,c,d in mylist:
    print(b)

In [ ]:
d = {'k1':1, 'k2':2, 'k3':3}
for key,value in d.items():
        print( value)

In [ ]:
x = 0

while x<5:
    print(f'The current value of x is {x}')
    x +=1
else:
    print('X is not less than 5')

In [ ]:
x = [1,2,3]
for item in x:
    #comment
    pass
print("end of my script")

In [ ]:
mystring = 'Dilip'

for item in mystring:
    if item == 'i':
        break
    print(item)

In [ ]:
x = 0

while x<5:
    if x==2:
        break
    print(x)
    x+=1

In [ ]:
for num in range(0,10,2):
    print(num)

In [ ]:
range(0,10,2)

In [ ]:
list(range(0,10,2))

In [ ]:
index_count = 0
for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count+=1

In [ ]:
index_count = 0
word = 'abcde'
for letter in word:
    print(word[index_count])
    index_count+=1

In [ ]:
for number,letter in enumerate(word):
    print(number)
    print(letter)

In [6]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]
for a,b,c in zip(mylist1,mylist2,mylist3):
    print(b)

a
b
c

In [7]:
list(zip(mylist1,mylist2,mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [8]:
'x' in [1,2,3]

False

In [9]:
'x' in ['z','x','y']

True

In [11]:
'a' in 'a world'

True

In [12]:
'mykey' in {'mykey':345}

True

In [17]:
d= {'mykey':345}
345 in d.keys()

False

In [18]:
mylist = [1,2,100,1000]

In [19]:
min(mylist)

1

In [20]:
max(mylist)

1000

In [21]:
from random import shuffle

In [22]:
mylist = [1,2,3,4,5,6,7,8,9]

In [25]:
shuffle(mylist)

In [30]:
mylist

[9, 2, 4, 8, 6, 1, 3, 5, 7]

In [32]:
from random import randint

In [38]:
mynum

8

In [42]:
result= input('Enter a number: ')

Enter a number: 25

In [40]:
input('Enter your name: ')

Enter your name: Dilip

'Dilip'

In [46]:
int(result)

25

In [4]:
mystring = 'Dilip'

In [2]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [3]:
mylist

['h', 'e', 'l', 'l', 'o']

In [5]:
mylist = [letter for letter in mystring]

In [16]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [15]:
mylist = [num**2 for num in range(0,10)]

In [19]:
mylist = [num**2 for num in range(0,11) if num%2==0]

In [20]:
mylist

[0, 4, 16, 36, 64, 100]

In [21]:
celsius =[0,24,35.5]

fahrenheit=[((9/5)*temp+32) for temp in celsius]

In [24]:
fahrenheit = []

In [27]:
for temp in celsius:
    fahrenheit.append((9/5)*temp+32)

In [28]:
fahrenheit

[32.0, 75.2, 95.9]

In [29]:
mylist = [x if x%2==0 else 'Odd' for x in range(0,11)]

In [30]:
mylist

[0, 'Odd', 2, 'Odd', 4, 'Odd', 6, 'Odd', 8, 'Odd', 10]

In [34]:
mylist = []

for num1 in [2,3,4]:
    for num2 in [100,200,300]:
        mylist.append(num1*num2)

In [35]:
mylist

[200, 400, 600, 300, 600, 900, 400, 800, 1200]

In [36]:
mylist = [x*y for x in [2,3,4] for y in [1,10,1000]]

In [37]:
mylist

[2, 20, 2000, 3, 30, 3000, 4, 40, 4000]

In [4]:
from random import randint
randint(0,100)

2

In [42]:
a=32

In [47]:
print('Number of elements in a string: {}'.format(32))

Number of elements in a string: 32

In [40]:
a.split('W')

['Hello ', 'orld']

In [32]:
letter = 'z'

In [34]:
letter*10

'zzzzzzzzzz'